input{ display:none; }
label{ padding:.2em .5em; }
label:hover{ background:#ccc; cursor:pointer; }
input:checked + label{ font-weight:bold; background:#ccc; }

.flexContainer {
    display: flex;
    width: 40rem;
    background: #9ba5b3;
    padding: 5px;
}

.item {
    background-color: #cccccc;
    font-size: 2rem;
    margin: 2rem;
    padding: 3rem;
}

#row:checked ~ .flexContainer {flex-direction: row}
#row-reverse:checked ~ .flexContainer {flex-direction: row-reverse}
#column:checked ~ .flexContainer {flex-direction: column}
#column-reverse:checked ~ .flexContainer {flex-direction: column-reverse}

#nowrap:checked ~ .flexContainer {flex-wrap: nowrap}
#wrap:checked ~ .flexContainer {flex-wrap: wrap}
#wrap-reverse:checked ~ .flexContainer {flex-wrap: wrap-reverse}

#flex-flow-row-wrap:checked ~ .flexContainer {flex-flow: row wrap}
#flex-flow-row-nowrap ~ .flexContainer {flex-flow: row nowrap}
