.house {
    width: 22rem;
    height: 26rem;
    margin-top: 0.5rem;
    margin-left: 0rem;
    margin-right: 1rem;

    background: white; /* Цвет фона */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Параметры тени */
    padding: 5px;
}

.image {
    width: 22rem;
    height: 16rem;
    object-fit: cover;
}

.title {
    word-wrap: break-word;
    font-size: 1.375rem;
    font-weight: 700;
}

.price {
    font-weight: 700;
}

.location {
    font-weight: 400;
}

.isSold {
    color: red;
}