.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-right: 2rem;
}

.progress {
    flex-grow: 1;
    margin-right: 1rem;
}

.buttons__left {
    height: 64px;
    width: 64px;
    border-radius: 16px;
    font-size: 2rem;
    background-color: #1C4088;
    color: #ffffff;
}

.buttons__left:hover {
    cursor: pointer;
}

.buttons__right {
    height: 64px;
    width: 64px;
    border-radius: 16px;
    font-size: 2rem;
    background-color: #1C4088;
    color: #ffffff;
}

.buttons__right:hover {
    cursor: pointer;
}